body {
    background: #525E75;
    color:  #92BA92;
    text-align: left;
    margin: auto;
    font-size: 20px;
    padding: 10px;
}

body.rtl {
    direction: rtl;
    text-align: right;
}

input, select {
    border-radius: 5px;
    height: 20px;
}

.name {
    position: fixed;
    top: 0;
    right: 10px;    
}

table {
    margin-top: 20px;
    margin-bottom: 40px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    background-color: #92BA92;
    color: #525E75;
}

th {
    background-color: #78938A;
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr:nth-child(even) {
    background-color: #F1DDBF;
}

td {
    display: table-cell;
    vertical-align: inherit;
}
  
.sort:hover {
    cursor: pointer;
}

button {
    background-color: #92BA92;
    color: #525E75;
    width: 80px;
    height: 100;
    cursor: pointer;
    border-radius: 5px;  
}

.modal {
    display: none;
    background-color: #525E75;
    padding: 10px;
    position: absolute;
    top: 0px;
    height: 80vh;
    min-width: 200px;
    text-align: center;
    border-radius: 5px;
    color: #F1DDBF;
    margin-inline-start: 50%;
}

.modal h3{
    color:#92BA92;
    text-transform: capitalize;
}

.modal > p {
    text-align: center;
    font-size:18px ;  
}

.modal a {
    color:#92BA92;
}

.modal button {
    background-color: #92BA92;
    color:#F1DDBF;
    font-size: 20px;
    
}
